* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
  scroll-behavior: smooth;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 1%;
  font-weight: bold;
  font-size: 1.2em;
  border-bottom: 1px solid #00d66c;
}
nav ul {
  display: flex;
  justify-content: center;
  align-items: center;
  list-style-type: none;
  gap: 2rem;
}
nav ul li {
  display: flex;
  text-align: center;
  width: auto;
}
nav ul li a {
  color: #00d66c;
  text-decoration: none;
  width: auto;
}
nav .secondary {
  font-weight: normal;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 0 4% 0;
}
header .header-overons {
  display: flex;
  justify-content: flex-start;
  height: 50vh;
  width: 100%;
}
header .header-overons img {
  position: absolute;
  width: 100%;
}
header .header-overons-text {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  z-index: 10;
  font-size: 2em;
  gap: 6rem;
  opacity: 0.85;
}
header .header-overons-text i {
  background: #00d66c;
  padding: 1.5%;
  border-radius: 3vh;
}
header .header-overons-text h2 {
  color: #00d66c;
  text-shadow: 3px 3px #111111;
}
header .klant-home-header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding-top: 3%;
}
header .klant-home-header h1 {
  padding: 3% 0;
  color: #00d66c;
}

.home_form {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  flex-direction: column;
  gap: 2rem;
  padding: 3%;
  text-align: center;
  background: #f3f0ed;
  border-radius: 2vh;
  font-size: 1.1em;
  z-index: 11;
}
.home_form h1 {
  color: #00d66c;
}
.home_form .elem-group {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
  gap: 1rem;
}
.home_form .elem-group input {
  padding: 4%;
  border-radius: 0.5rem;
  border: 1px solid #91a3b7;
  font-size: 0.9em;
  width: 100%;
}
.home_form button {
  padding: 5% 10%;
  border-radius: 1.5rem;
  border: 0px solid;
  background: #FFC53A;
  color: #111111;
  font-size: 0.9em;
  font-weight: bold;
}

.carousel {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 90vh;
  overflow: hidden;
  position: relative;
}
.carousel_slide {
  display: flex;
  width: 100%;
}
.carousel_slide img {
  width: 100%;
}
.carousel #prevBtn, .carousel #nextBtn {
  position: absolute;
  top: 50%;
  z-index: 10;
  right: 5%;
  font-size: 2.5em;
  color: #f3f0ed;
}
.carousel #prevBtn {
  left: 5%;
}

.login {
  display: flex;
  justify-content: center;
  padding-top: 7%;
  font-weight: bold;
}
.login_form {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  flex-direction: column;
  gap: 2rem;
  width: 90%;
  padding: 3%;
  text-align: center;
  background: #f3f0ed;
  border-radius: 2vh;
  font-size: 1.1em;
  z-index: 11;
}
.login_form h1 {
  color: #00d66c;
}
.login_form .elem-group {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
  gap: 1rem;
}
.login_form .elem-group input {
  padding: 1%;
  border-radius: 0.5rem;
  border: 1px solid #91a3b7;
  font-size: 0.9em;
  width: 100%;
}
.login_form .elem-group-end {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  width: 100%;
  gap: 1rem;
}
.login_form .elem-group-end a {
  color: #111111;
  text-decoration: none;
}
.login_form button {
  padding: 2% 4%;
  border-radius: 1.5rem;
  border: 0px solid;
  background: #FFC53A;
  color: #111111;
  font-size: 0.9em;
  font-weight: bold;
}

.intersection {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4% 0;
  gap: 15rem;
}
.intersection img {
  width: 20%;
  border-radius: 2vh;
}
.intersection h3 {
  color: #00d66c;
}
.intersection .intersection-text {
  display: flex;
  flex-direction: column;
  width: 20%;
  gap: 2rem;
}
.intersection .intersection-text a {
  color: #111111;
}

.order-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4% 0;
  gap: 15rem;
}
.order-section img {
  width: 20%;
  border-radius: 2vh;
}
.order-section h3 {
  color: #00d66c;
}
.order-section .order-section-text {
  display: flex;
  flex-direction: column;
  width: 30%;
  background: #f3f0ed;
  border-radius: 2vh;
  padding: 3%;
  gap: 2rem;
}
.order-section .order-section-text a {
  color: #111111;
}

.cards-home {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  height: 50vh;
  width: 100%;
  padding: 5%;
  gap: 8rem;
}
.cards-home .card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 20%;
  background: #f3f0ed;
  border-radius: 2vh;
  border: #111111 1px solid;
  overflow: hidden;
  gap: 2rem;
}
.cards-home .card-img-left, .cards-home .card-img-right {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15%;
  width: 100%;
  font-size: 2.5em;
  color: #f3f0ed;
}
.cards-home .card-img-left {
  background: #91a3b7;
}
.cards-home .card-img-right {
  background: #FFC53A;
}
.cards-home .card h3 {
  font-size: 1.5em;
}
.cards-home .card ul {
  display: flex;
  flex-direction: column;
  padding: 0 10% 20% 10%;
  list-style-type: none;
  gap: 1rem;
}
.cards-home .card ul li {
  display: flex;
  justify-content: center;
  align-items: center;
}
.cards-home .card ul li a {
  color: #111111;
  text-decoration: none;
}

.destinations {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: 1.4em;
  padding: 4% 0;
  gap: 2rem;
}
.destinations .destinations-lists {
  display: flex;
  justify-content: center;
  align-items: center;
}
.destinations .destinations-lists .destinations-list {
  display: flex;
  gap: 2rem;
}
.destinations .destinations-lists .destinations-list ul {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  gap: 2rem;
}
.destinations .destinations-lists .destinations-list ul li a {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: #111111;
  gap: 5rem;
}
.destinations .destinations-lists .destinations-list ul li a .destinations-list-text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 30%;
  gap: 1rem;
}
.destinations .destinations-lists .destinations-list ul li a .destinations-list-text p {
  font-size: 0.7em;
}

.overons-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  padding-bottom: 5rem;
  gap: 6rem;
}
.overons-container-intro {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 35%;
  font-size: 1.3em;
  font-weight: bold;
  gap: 1rem;
}
.overons-container-intro h2 {
  color: #00d66c;
}
.overons-container-text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
}
.overons-container-text h2 {
  font-size: 2em;
  color: #00d66c;
}
.overons-container-text ul {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  gap: 4rem;
}
.overons-container-text ul li {
  display: flex;
  gap: 3rem;
}
.overons-container-text ul li i {
  padding: 3%;
  background: #00d66c;
  font-size: 1.5em;
  border-radius: 50%;
}
.overons-container-text ul li p {
  font-size: 1.2em;
  margin: auto 0;
}

.contact-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  font-size: 1.2em;
  padding: 5% 0 0 0;
  gap: 5rem;
}
.contact-container-text {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 2rem;
}
.contact-container-text h1 {
  color: #00d66c;
}
.contact-container-text h3 {
  width: 35%;
}
.contact-container .mapouter {
  position: relative;
  text-align: right;
  width: 100%;
}
.contact-container .mapouter .gmap_canvas {
  overflow: hidden;
  background: none !important;
}
.contact-container .mapouter .gmap_canvas iframe {
  border-top: 1px solid #111111;
  border-bottom: 1px solid #111111;
  height: 60vh;
  width: 100%;
}
.contact-container-form {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding-bottom: 5%;
}
.contact-container-form .form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 30%;
  gap: 1rem;
}
.contact-container-form .form input, .contact-container-form .form textarea {
  width: 50%;
  padding: 1.6%;
}
.contact-container-form .form button {
  padding: 3%;
  border-radius: 1vh;
  background: #FFC53A;
}
.contact-container-form-extra {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 30%;
  gap: 2rem;
}
.contact-container-form-extra ul {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  list-style-type: none;
}
.contact-container-form-extra ul li a {
  text-decoration: none;
  color: #111111;
}

.review-page {
  text-align: center;
  background: #eeeded;
  padding-top: 3%;
}
.review-page .review {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5% 0;
}
.review-page .review .user-rating {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 30%;
  background: white;
  border: 1px solid #111111;
  padding: 1.5% 3%;
  gap: 1rem;
}
.review-page .review .user-rating .user-review {
  display: flex;
  gap: 3rem;
}
.review-page .review .user-rating .user-review .user-img {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 6vh;
  width: 6vh;
  border-radius: 50%;
  overflow: hidden;
}
.review-page .review .user-rating .user-review .user-img img {
  height: 6vh;
  width: 6vh;
}
.review-page .review .user-rating .user-review p {
  text-align: left;
  font-size: 0.9em;
  margin: auto 0;
}
.review-page .review .user-rating textarea {
  width: 100%;
  padding: 2%;
  border-color: #91a3b7;
  resize: none;
}
.review-page .review .user-rating .submit {
  padding: 5% 10%;
  border-radius: 1.5rem;
  border: 0px solid;
  background: #FFC53A;
  color: #111111;
  font-size: 0.9em;
  font-weight: bold;
}

.star-rating {
  display: flex;
  justify-content: center;
  align-items: center;
  width: auto;
  gap: 1rem;
}
.star-rating-stars {
  display: flex;
}
.star-rating-stars .star {
  height: auto;
  font-size: 2em;
  background: none;
  border: none;
  color: #FFC53A;
}
.star-rating-stars .star:hover {
  cursor: pointer;
}
.star-rating-stars .full-star, .star-rating-stars .empty-star {
  height: auto;
  font-size: 2em;
  background: none;
  border: none;
  color: #FFC53A;
}
.star-rating .current-rating {
  margin-top: 5%;
}

.reviews {
  padding: 2% 0;
}
.reviews h1 {
  text-align: center;
}

.bestemmingen-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  background: #f3f0ed;
  padding: 3% 0;
  gap: 3rem;
}
.bestemmingen-container-layout {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  padding: 2%;
  border-radius: 2vh;
  background-color: white;
  gap: 2rem;
}
.bestemmingen-container-layout-img {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 30vh;
  width: 40vw;
  overflow: hidden;
}
.bestemmingen-container-layout-items {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
.bestemmingen-container-layout-items-book {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  gap: 2rem;
}
.bestemmingen-container-layout-items-book p {
  font-size: 1.2em;
}
.bestemmingen-container-layout-items-book a {
  padding: 3%;
  border-radius: 2vh;
  text-decoration: none;
  color: #111111;
  background: #00d66c;
}

.klant-home {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.klant-home-boeken, .klant-home-beheer, .klant-home-service {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 45vh;
  width: 100%;
  overflow: hidden;
  text-align: center;
  background: rgba(0, 0, 0, 0.6);
}
.klant-home-boeken img, .klant-home-beheer img, .klant-home-service img {
  position: absolute;
  z-index: -100;
  width: 100%;
}
.klant-home-boeken-box, .klant-home-beheer-box, .klant-home-service-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 30%;
  color: white;
  font-size: 1.1em;
  gap: 1rem;
}
.klant-home-boeken-box-buttons, .klant-home-beheer-box-buttons, .klant-home-service-box-buttons {
  display: flex;
  justify-content: center;
  width: 100%;
}
.klant-home-boeken-box-buttons a, .klant-home-beheer-box-buttons a, .klant-home-service-box-buttons a {
  color: white;
  text-decoration: none;
  padding: 4% 10%;
}
.klant-home-boeken-box-buttons-blue, .klant-home-beheer-box-buttons-blue, .klant-home-service-box-buttons-blue {
  background: #91a3b7;
}
.klant-home-boeken-box-buttons-yellow, .klant-home-beheer-box-buttons-yellow, .klant-home-service-box-buttons-yellow {
  background: #FFC53A;
}
.klant-home-boeken-box-buttons-green, .klant-home-beheer-box-buttons-green, .klant-home-service-box-buttons-green {
  background: #00d66c;
}

.boekingen-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5% 0;
}

footer {
  width: 100%;
  border-top: 1px solid #91a3b7;
  background: #f7f7f7;
}
footer .footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15rem;
  padding: 2% 0;
}
footer .footer-container .footer-left, footer .footer-container .footer-right {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
footer .footer-container .footer-left ul, footer .footer-container .footer-right ul {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  list-style-type: none;
}
footer .footer-container .footer-left ul li a, footer .footer-container .footer-right ul li a {
  text-decoration: none;
  color: #111111;
}
footer .copyright {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  background: #f3f0ed;
  padding: 1.5% 0;
}
footer .copyright a {
  text-decoration: none;
  color: #111111;
}
footer .copyright p strong {
  font-weight: bold;
}
footer a i {
  position: absolute;
  color: #111111;
  font-size: 3em;
  right: 10%;
}

/*back-end*/
.admin_panel {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  background: #f3f0ed;
  color: black;
  font-size: 1.2rem;
  gap: 2rem;
  padding: 2% 0;
}
.admin_panel button {
  padding: 5% 10%;
  border-radius: 1.5rem;
  border: 0px solid;
  background: #FFC53A;
  color: #111111;
  font-size: 0.9em;
  font-weight: bold;
}
.admin_panel .admin_table {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.admin_panel .admin_table table {
  border: 1px solid;
  width: 80%;
}
.admin_panel .admin_table table tr {
  border: 1px solid;
  display: flex;
  gap: 1rem;
}
.admin_panel .admin_table table tr td, .admin_panel .admin_table table tr th {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 20%;
  padding: 2% 0;
}
.admin_panel .admin_table table tr td {
  font-size: 0.9em;
}
.admin_panel .admin_table table tr .messages {
  width: 33%;
}/*# sourceMappingURL=style.css.map */